layout {
    pane size=1 borderless=true {
        plugin location="file:$HOME/.config/zellij/plugins/zjstatus.wasm" {
            format_left  "#[fg=#fab387]{mode}#[bg=#313244,fg=#fab387]#[fg=#313244]#[bg=#313244,fg=#cdd6f4] {session} {tabs}#[bg=#1e1e2f,fg=#313244]"
            format_right "#[bg=#1e1e2f,fg=#f9e2af]#[fg=#1e1e2e,bg=#f9e2af] {datetime} #[fg=#f9e2af]"
            format_space "#[bg=#1e1e2f]"

            #hide_frame_for_single_pane "true"

            mode_normal        "#[bg=#fab387,fg=#1e1e2e] "
            mode_locked        "#[bg=#fab387,fg=#1e1e2e] "
            mode_resize        "#[bg=#fab387,fg=#1e1e2e]󰩨 "
            mode_pane          "#[bg=#fab387,fg=#1e1e2e] "
            mode_tab           "#[bg=#fab387,fg=#1e1e2e]󰓩 "
            mode_scroll        "#[bg=#fab387,fg=#1e1e2e]󰶹 "
            mode_enter_search  "#[bg=#fab387,fg=#1e1e2e] "
            mode_search        "#[bg=#fab387,fg=#1e1e2e] "
            mode_rename_tab    "#[bg=#fab387,fg=#1e1e2e]󰘎 "
            mode_rename_pane   "#[bg=#fab387,fg=#1e1e2e]󰘎 "
            mode_session       "#[bg=#fab387,fg=#1e1e2e] "
            mode_move          "#[bg=#fab387,fg=#1e1e2e] "
            mode_prompt        "#[bg=#fab387,fg=#1e1e2e]P "
            mode_tmux          "#[bg=#fab387,fg=#1e1e2e] "

            tab_normal              "#[bg=#313244,fg=#cdd6f4] {name} "
            tab_normal_fullscreen   "#[bg=#313244,fg=#cdd6f4] {name} #[bg=#313244,fg=#a6e3a1]  "
            tab_normal_sync         "#[bg=#313244,fg=#cdd6f4] {name} #[bg=#313244,fg=#f5c2e7]  "
            tab_active              "#[bg=#313244,fg=#fab387]#[bg=#fab387,fg=#1e1e2e,bold]{name}#[bg=#313244,fg=#fab387]"
            tab_active_fullscreen   "#[bg=#313244,fg=#a6e3a1]#[bg=#a6e3a1,fg=#1e1e2e,bold]{name}  #[bg=#313244,fg=#a6e3a1]"
            tab_active_sync         "#[bg=#313244,fg=#f5c2e7]#[bg=#f5c2e7,fg=#1e1e2e,bold]{name}  #[bg=#313244,fg=#f5c2e7]"


            datetime          "{format}"
            datetime_format   "%H:%M"
            datetime_timezone "Asia/Seoul"
        }
    }
    pane split_direction="vertical" {
        pane
    }
}
